*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100vh;
}

$primary:#349EE9;
$secondary:#312F31;
$danger:#F40405;

.main{
    width: 100%;
    height: 100vh;
}